/******************global setting*****************/
a {
  text-decoration: none;
  color: white;
}

body {
  background-color: rgb(17, 17, 17);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  transform: scale(1.2);
}

main {
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "Zen Tokyo Zoo", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.site-logo {
  width: 50px;
  margin: 1rem;
}

/**********************hamburger menu******************/
.site-navigation ul {
  list-style: none;
  text-align: center;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(17, 17, 17);
  padding: 0;
  top: 4rem;
}

.site-navigation.toggled ul {
  display: block;
}

.site-navigation a {
  display: block;
  padding: 0.5rem;
  font-family: "Zen Tokyo Zoo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.menu-toggle {
  display: block;
  background-color: transparent; /*change toggle color*/
  border: 0;
  padding: 1rem;
}

.menu-icon path {
  fill: white;
  opacity: 50%;
}

.menu-toggle:focus {
  border: 0;
  outline: 1px dotted;
}

@media (min-width: 700px) {
  .menu-toggle {
    display: none;
  }

  .site-navigation ul,
  .site-navigation.toggled ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 0;
  }

  .site-navigation a {
    font-size: 1.5rem;
  }
}

/**************end of hamburger menu****************/

/****************** home page***************************/
.site-navigation .nav-menu-home {
  background-color: transparent;
}

.site-header {
  font-family: "Zen Tokyo Zoo", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin-right: 1rem;
}

.page-header-home h1 {
  font-family: "Zen Tokyo Zoo", sans-serif;
  font-size: 15vw;
  font-weight: 400;
  text-align: center;
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (min-width: 700px) {
  .page-header-home h1 {
    top: 1rem;
  }
}

.home-video {
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}

.site-footer-home {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

/*****************cities page******************/

.section-cities video {
  padding: 1rem;
}

table,
th,
td {
  text-align: center;
  margin: auto;
  border: 1px solid white;
}

@media (min-width: 700px) {
  .section-cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    max-width: 80%;
    margin: auto;
  }
  .video-osaka {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .article-tokyo {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .article-osaka {
    grid-row: 3/5;
    grid-column: 2/3;
  }

  .article-kyoto {
    grid-row: 5/7;
    grid-column: 1/2;
  }

  .video-kyoto {
    grid-row: 5/6;
    grid-column: 2/3;
  }
}
/*********************cuisine page***********************/

.section-cuisine img {
  padding: 1rem;
}

@media (min-width: 700px) {
  .section-cuisine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 1rem;
    max-width: 80%;
    margin: auto;
  }

  .image-sushi {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .image-unadon {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}
/*****************culture********************/
.section-culture img {
  padding: 1rem;
  max-height: 100%;
  margin: 0 auto;
}

.section-culture article p {
  padding: 0 2.5rem;
}

@media (min-width: 700px) {
  .section-culture {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 600px);
    grid-gap: 1rem;
    max-width: 80%;
    margin: auto;
  }

  .image-omotenashi {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .image-industry {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}
/*********************credits page**********************/
.section-credits ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

@media (min-width: 700px) {
  .section-credits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    max-width: 80%;
    margin: auto;
  }

  .article-cities {
    grid-row: 1/4;
    grid-column: 2/3;
  }
}
/********************footer**************************/
.site-footer {
  text-align: center;
  font-size: 1rem;
}

.top-icon path {
  fill: white;
}
