body {
  background-color: rgb(255, 200, 0);
  color: black;
  font-family: sans-serif;
  line-height: 1.5;
}

header p {
  font-family: serif;
}

h1,
h2,
th {
  font-family: serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.invert {
  background-color: black;
  color: rgb(255, 200, 0);
}

blockquote p {
  font-style: italic;
}

blockquote cite {
  font-style: normal;
}

table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

td {
  text-align: center;
}

img {
  border: 10px double white;
  max-width: 50%;
  max-height: 50%;
}
