/*CSS Comment*/
/*h2 - selector*/
/*style rules - property:value;*/
h2 {
  color: darkred;
}

.warning {
  color: red;
}

#unique-heading {
  color: blue;
}

/* targeting the descendants of an element */
/* listing selectors */
ol li,
td {
  color: rebeccapurple;
}
