/*h2 - selector*/
/*stlyes rules - property:value; */
h2 {
  color: darkblue;
}

.warning {
  color: red;
}

#unique-heading {
  color: green;
}

/*targeting the descendants of an element */
ol li,
td {
  color: rebeccapurple;
}
