@charset "utf-8";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #a7a7a7;
}

h1, h2, h3, h4, h5, h6, nav a {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
}

p, li {
    line-height: 1.4;
}

.wrapper {
    max-width: 800px;
    background-color: #fff;
    margin: 0 auto;
}

header,
footer {
    background-color: #043f8b;
    color: white;
    padding: 20px 20px;
}

footer p {
    margin: 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 15px;
}

/* Google Fonts for form 

Labels: font-family: 'Roboto', sans-serif;

Inputs: font-family: 'Open Sans', sans-serif;

*/

/* Form Styles */
.basic-form {
    max-width: 640px;
    margin: 0 auto;
    border: 2px solid #5e5e5e;
    padding: 12px;
    border-radius: 8px;
}

.basic-form h2, 
.basic-form h3, 
.basic-form p,
.basic-form legend, 
.basic-form label,
.basic-form input[type="submit"] {
    font-family: 'Roboto', sans-serif;
}

.basic-form h3 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.basic-form input:not([type="submit"]), 
.basic-form option {
    font-family: 'Open Sans', sans-serif;
}

.basic-form fieldset {
    padding: 0;
    border: 0;
}

.basic-form legend {
    padding: 0;
    margin-bottom: 0.9em;
    font-weight: bold;
    font-size: 1.2em;
    border-left: 3px solid #448d44;
    padding-left: 5px;
}

.basic-form label {
    font-size: 1.05em;
    margin-bottom: 0.3em;
}

.basic-form select {
    font-size: 1.05em;
}

.form-group {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #ccc;
}

/* Your Info Styles */
.shippping-info-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.street {
    width: 100%;
}

.city,
.province,
.postal-code {
    width: 100%;
}

.shippping-info-group .form-row:not(:last-child) {
    margin-bottom: 1.2em;
}

.shippping-info-group label,
.shippping-info-group input,
.shippping-info-group select {
    display: block;
    width: 100%;
}

.shippping-info-group input,
.shippping-info-group select {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1.025em;
}

.submit-group input {
    color: #fff;
    background-color: #5cb85c;
    border: 2px solid #4cae4c;
    padding: 8px 16px;
    font-size: 1.1em;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    width: 100%;
}


/* Form Desktop Styles */
@media (max-width: 370px){
    main {
        padding: 20px 20px 40px;
    }

    .basic-form {
        padding: 20px;
    }
}

@media (min-width: 500px){

    .city,
    .province,
    .postal-code {
        width: 48%;
    }

    .submit-group input {
        width: auto;
    }

}



